.vscode/

*.o

tftp-server
tftp-client
!/src/tftp-server
!/src/tftp-client

test-server.py
test
test.cpp
downloaded.txt
read-from-server.txt
example.txt
testing
tftp-client-v2

client-files
server-files
crashtest.sh
